---
import Layout from '../layouts/Layout.astro';
import SEOAnalyzer from '../components/SEOAnalyzer.astro';
import SEOResults from '../components/SEOResults.astro';
import PageCards from '../components/PageCards.astro';
---

<Layout title="SEO Optimizer - Enhance Your Website's SEO Quickly and Efficiently">
	<main>
		<SEOAnalyzer />
		<SEOResults />
		<PageCards />
	</main>
</Layout>
